body{
	font-family: arial;
	background-image: url('/images/main-bg.jpg');
}

.content{
	padding: 10px;
	background-color: white;
	border: 1px solid grey;
	width: 60%;
	margin: auto;
	box-shadow: 3px 4px 10px black;
	border-radius: 1.6em;
	opacity: 0.9;
}

.header-menu{
	float: left;
	background-color: white;
	width: 10%;
	margin-top: 20px;
	font-size: 30px;
	font-family: arial;
	padding-top: 20	px;
	text-align: center;
	opacity: 0.9;
	border-radius: 0 0.7em 0.7em 0;
}
.header-menu a{
	display: block;
	color: black;
	text-decoration: none;
	padding: 10px;
}
.header-menu a:hover{
	text-shadow: 3px 4px 10px grey;	
}
